body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #37e231}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#74aeb6, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #37e231, #4f975b, #8ebd9d);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: #1d4709;
}